.header{
  background: #D54544;
  height: 80px;
  font-size: 40px;
  text-align: center;
  font-family: sans-serif;
  color: #FFCB06;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between
}

.nav-item {
  padding-top: 24px;
}
i:hover{
cursor: pointer;
}
.logo {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1280px-International_Pok%C3%A9mon_logo.svg.png');
}
.logo:hover{
  cursor: pointer;
}
.nav-links {
  display: flex;
  flex-direction: column;
}
a{
  text-decoration: none;
  color: #FFCB06;
  font-size: 13px;
}